# SQL - DDL oraz DML

Zbiór danych: https://www.kaggle.com/datasets/kapturovalexander/online-shop-2023 

Dokumentacja: https://docs.sqlalchemy.org/en/20/

Instalacja postgres: https://www.postgresql.org/download/

In [ ]:
#pip install SQLAlchemy

In [ ]:
#pip install psycopg2

In [1]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, Date, text, inspect

In [2]:
# puść ten kod, 
# jeżeli wywołujesz plik  w folderze rozwiąznaia, 
# a ramka danych znajduje się w folderze data
import os 
os.chdir('../')

In [3]:
# wczytanie danych
orders = pd.read_csv('data/orders.csv')
products = pd.read_csv('data/products.csv')
del orders['Unnamed: 0']
del products['Unnamed: 0']

In [ ]:
orders.head()

In [ ]:
products.head()

url: "postgresql://[user_name]:[password]@host:port/database"

In [7]:
# Polaczenie z baza danych
engine = create_engine("postgresql://postgres:postgres@localhost:5432")

In [39]:
# Stworzenie inspektora
inspector = inspect(engine)

In [ ]:
# tabele na bazie
table_names = inspector.get_table_names()
table_names

In [ ]:
# orders - info
orders.info()

In [14]:
# konwersja daty
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [ ]:
# products - info
products.info()

In [43]:
# Obiekt MetaData
metadata = MetaData()

In [36]:
table_to_drop = Table('products',metadata,autoload_with=engine)

In [38]:
table_to_drop.drop(engine)

In [ ]:
# Definicja tabeli orders
orders_table = Table('orders', metadata,
                     Column('order_id', Integer,primary_key=True),
                     Column('order_date',Date, nullable=False),
                     Column('product_id',Integer),
                     Column('quantity',Integer),
                     Column('total_price',Float, default= 0.0))

In [ ]:
metadata.tables

In [46]:
# Definicja tabeli products
products_table = Table('products',metadata,
                       Column('product_id',Integer, primary_key=True),
                       Column('product_name',String),
                       Column('category',String),
                       Column('price',Float))

In [52]:
# Stworzenie tabel na bazie
metadata.create_all(engine)

In [ ]:
# Sprawdzenie czy istnieją
inspector = inspect(engine)
inspector.get_table_names()

In [49]:
# usunięcie wszystkich tabel
metadata.drop_all(engine)

In [ ]:
# Sprawdzenie czy istnieją
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# usunięcie jednej tabeli

In [ ]:
# Sprawdzenie czy istnieją

In [ ]:
# insert danych - products
products.to_sql(name= 'products', con = engine, if_exists='append',method='multi', index=False)

In [ ]:
# insert danych - orders
orders.to_sql('orders',con=engine,if_exists='append',method='multi', index=False)