# SQL - DQL

Zbiór danych: https://www.kaggle.com/datasets/kapturovalexander/online-shop-2023 

Dokumentacja: https://docs.sqlalchemy.org/en/20/

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Połaczenie z bazą
engine = create_engine("postgresql://postgres:postgres@localhost")

In [3]:
# pobranie danych z tabeli orders
orders = pd.read_sql("select * from orders", con = engine)

In [ ]:
# head
orders.head()

In [5]:
# where
orders_2 = pd.read_sql("select * from orders where quantity = 10", con = engine)

In [ ]:
# head
orders_2.head()

In [9]:
# join
joined_tables = pd.read_sql("select o.*, p.product_name, p.category, p.price from orders o join products p on o.product_id = p.product_id", con = engine)

In [ ]:
# head
joined_tables.head()

In [ ]:
joined_tables.info()

In [ ]:
# group by na pobranej ramce danych
joined_tables.loc[:,['category','total_price']].groupby('category').sum()

In [14]:
# Group by w sql
sql_groupby  = pd.read_sql("""select category,
                           sum(total_price) as sales
                           from orders o
                           join products p on o.product_id = p.product_id
                           group by category
""", con = engine)

In [ ]:
sql_groupby

In [16]:
# Group by + having w sql
sql_groupby_having  = pd.read_sql("""select category,
                           sum(total_price) as sales
                           from orders o
                           join products p on o.product_id = p.product_id
                           group by category
                           having sum(total_price)>20000
""", con = engine)

In [ ]:
sql_groupby_having