# Projekt

źródło danych: https://www.kaggle.com/datasets/taweilo/loan-approval-classification-data

Dane zawierają informacje z wniosków kredytowych.

1. Dokonaj wstepnej analizy zbiory.
2. Wytypuj zmienne do modelowania.
4. Zoptymalizuj model.
5. Stwórz symulację optymalizacji punktu cut-off wiedząc,że:
    - False positive to strata banku w wysokości  loan_amnt
    - False negative to strata banku w wysokości (loan_int_rate / 100 ) * loan_amnt  (przyblizenie)
    - True positive to zysk w wysokości (loan_int_rate / 100 ) * loan_amnt

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/loan_data.csv')

In [4]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

1. Dokonaj wstepnej analizy zbioru.

2. Wytypuj zmienne do modelowania.

4. Zoptymalizuj model.

5. Stwórz symulację optymalizacji punktu cut-off.

# Projekt część II
Do realizacji jako ostatnia część bloku

1. Zapisz model do pliku, a następnie go pobierz.
2. Zapisz ramkę danych do lokalnej bazy danych.
3. Pobierz ramkę dla kilku rekordów i dokonaj predykcji. Napisz funkcje do pobierania odpowiednich danych oraz do predykcji. 
4. Zapisz model do MLflow.
5. Wytrenuj dowolny, inny model i zapisz go do MLflow.
6. Porównaj wyniki modeli.

1. Zapisz model do pliku, a następnie go pobierz.

2. Zapisz ramkę danych do lokalnej bazy danych.

3. Pobierz ramkę dla kilku rekordów i dokonaj predykcji. Napisz funkcje do pobierania odpowiednich danych oraz do predykcji.

4. Zapisz model do MLflow.

5. Wytrenuj dowolny, inny model i zapisz go do MLflow.

6. Porównaj wyniki modeli.